/*-------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper {
    width: 960px;
    margin: 0px auto;
    margin-left: 2px;
    margin-right: 3px;
   /* background-image:  url('../images/Coltan_map.png');
    background-repeat: no-repeat;*/

}
