/*-------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------*/


body{
    background-color: white;
    overflow: scroll;
}
body, button, input, label, select, td, textarea, pre {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: .85em;
}
body {
    background:  none repeat scroll 0% 0% rgb(246, 246, 246));
    color: rgb(51, 51, 51);

    margin: 0px;
    padding: 2px;
    text-align: left;
    direction: ltr;
    unicode-bidi: embed;
}
/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper{
    background-color: #eee ;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    width: 1170px;


}



.login h1{
    display: inline-block;}

.header_intro h4 {
    display:inline-block;
    float: left;


}



.login_intro
form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{display: inline-block;font-weight:normal}
textarea, .inputtext, .inputpassword{border:1px solid #bdc7d8;margin:0;padding:3px}
textarea{max-width:100%}



#wikipedia{
   font:bold;


}
#wikipedia a{
    color:darkblue;
    font-size:12px;
    text-decoration: none;
}

#wikipedia a:hover{
    color:blue ;
    font-size:12px;
    text-decoration: none;


}
#session_status{
    float:left;
    margin-left: 1em;
}

#navigation {
    float: none;
    width: 100%;
    clear: both;
    background:-moz-linear-gradient(center top , black,rgb(92, 92, 92))repeat scroll 0% 0% transparent;
    overflow: hidden;
    border-bottom: 2px solid greenyellow;
    font-variant: small-caps; font-size: 2em;
    color:white;
    font-family:Helvetica;
}

#navigation ul li {
    display: inline;
    margin: 0; font-variant: small-caps;
}
#navigation ul li a {
    display: inline-block;
    padding: 5px 10px 5px;
    letter-spacing: 0.05em;
    color:greenyellow;
}
#navigation ul li a:visited { color: greenyellow; }
#navigation ul li a:hover { background-color: greenyellow; text-decoration: none; }


#navigation a {color: white;
    /* Rules for navigation items */
}
#navigation a:hover {background-color:greenyellow; color:black;
    /* Rules for navigation items */
}

.about_your_device{

    width: 90%;
    border: 2px solid rgb(92, 92, 92);
    padding: 0px 20px 20px;
    overflow: hidden;
    background: none repeat scroll 0% 0% white;
    box-shadow: 1px 1px 2px rgb(204, 204, 204);
    }
#cm_tool{
    background:rgb(92, 92, 92)repeat-x scroll 0px -233px transparent;
}

#device_tool {
    background: rgb(204, 204, 204) repeat-x scroll 0px -233px transparent;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height: 36px;
    line-height: 30px;
    width: 487px;
    padding-left: 20px;
    position: relative;
    right: 20px;
    top: -1px;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#footer {


    background:-moz-linear-gradient(center top , black,rgb(92, 92, 92))repeat scroll 0% 0% transparent;
    border-top: 5px solid #adff2f;
    color: #fff;
    padding-top: 10px;
    font-size: 12px;

}
#footer{
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
    }
