/*-------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------*/


body{
    background-color: white;
    overflow: scroll;
}
body, button, input, label, select, td, textarea, pre {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;

    font-family: "proxima-nova","Helvetica Neue",;
    font-size: 14px;
    line-height: 1.28;
    color: rgb(51, 51, 51);
    -moz-osx-font-smoothing: grayscale;
}
body {
    background:  none repeat scroll 0% 0% rgb(246, 246, 246));
    color: rgb(51, 51, 51);
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
    padding: 2px;
    text-align: left;
    unicode-bidi: embed;

}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    margin: 0px;
    font-family: inherit;
    font-size: 100%;
}
form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{display: inline-block;font-weight:normal}
textarea, .inputtext, .inputpassword{border:1px solid #bdc7d8;margin:0;padding:3px}
textarea{max-width:100%}
/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper{
    background-color: #ffffff ;
    padding-right:10px;
    padding-left:10px;




}

.header{
    background:-moz-linear-gradient(center top , grey,rgb(90, 90, 90))repeat scroll 0% 0% transparent;
    width: 100%; clear: both;  float: left;

}
.header  h4{
    float: left;
    clear: both;
}
.header  h1{

    clear: both;

}
#header_intro h4 {
    display:inline-block;
    float: left;
    clear:both;

}
#app_name h1{

    color: rgb(204,304,92);
    text-decoration: none;
    -moz-text-blink: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.2em;



}

.login_intro {
    color: greenyellow;
    float:right;

}
.login_intro a{
    color: white;

}
.login_intro a:hover a:visited{
overflow: hidden;
border-bottom: 2px solid greenyellow;
font-variant: small-caps; font-size: 2em;
color:white;
font-family:Helvetica;


}

#login_intro ul li a:visited { color: greenyellow; }
#login_intro ul li a:hover { background-color: greenyellow; text-decoration: none; }

.login_intro a{
    display: inline-block;
    padding: 5px 10px 5px;
    letter-spacing: 0.05em;
    color:#ffffff;
}
.login_intro a:hover {
    background-color: darkgray;

}
.login_form{
    max-width: 330px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#wikipedia{
   font:bold;
    float:right;
    clear: both;
    margin-top:-160px;
    position:relative;

    padding-left: 550px;
    padding-top: 40px;
    padding-bottom: 40px;



}
#wikipedia a{
    color:darkblue;
    font-size:12px;
    text-decoration: none;
}

#wikipedia a:hover{
    color:blue ;
    font-size:12px;
    text-decoration: none;


}
#session_status{
    float:left;
    margin-left: 1em;
    clear: both;
}

#navigation {
    float: none;
    width: 100%;
    clear: both;
    background:-moz-linear-gradient(center top , black,rgb(92, 92, 92))repeat scroll 0% 0% transparent;
    overflow: hidden;
    border-bottom: 2px solid greenyellow;
    font-variant: small-caps; font-size: 2em;
    color:white;
    font-family:Helvetica;
}

#navigation ul li {
    display: inline;
    margin: 0; font-variant: small-caps;
}
#navigation ul li a {
    display: inline-block;
    padding: 5px 10px 5px;
    letter-spacing: 0.05em;
    color:greenyellow;
}
#navigation ul li a:visited { color: greenyellow; }
#navigation ul li a:hover { background-color: greenyellow; text-decoration: none; }


#navigation a {color: white;
    /* Rules for navigation items */
}
#navigation a:hover {background-color:greenyellow; color:black;
    /* Rules for navigation items */
}



.col2{

}


/*------------------------------
Application specific - Ranking controller css
______________________________*/
.about_your_device{

    width: 90%;
    border: 2px solid rgb(92, 92, 92);
    padding: 0px 20px 20px;
    overflow: hidden;
    background: none repeat scroll 0% 0% white;
    box-shadow: 1px 1px 2px rgb(204, 204, 204);
    }
#cm_tool{
    background:rgb(92, 92, 92)repeat-x scroll 0px -233px transparent;
}

#device_tool {
    background: rgb(204, 204, 204) repeat-x scroll 0px -233px transparent;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height: 36px;
    line-height: 30px;
    width: 487px;
    padding-left: 20px;
    position: relative;
    right: 20px;
    top: -1px;
    text-transform: uppercase;
    margin-bottom: 20px;

}
#footer {


    background:-moz-linear-gradient(center top , black,rgb(92, 92, 92))repeat scroll 19% 0% transparent;
    border-top: 5px solid #adff2f;

    color: #fff;
    padding-top:80px;
    font-size: 12px;
    margin-left: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    margin-top: 120px;


}
